header {
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111111;
  color: #F8F7E7;

  img {
    height: 50%;
    width: 5rem;
    height: 5rem;

    min-width: 38px;
    min-height: 38px;
    
    padding: 1rem;
  }

  h1 {
    padding: 1rem;
    font-size: 1.5rem;
  }
}